<div class="repo repo-avatar p-2 text-center">
  <a href="https://github.com/{{ include.username }}" title="{{ include.username }} on GitHub">
    <img
      class="rounded-circle"
      style="max-width: 180px; width: 100%; height: auto;"
      alt="{{ include.username }}'s GitHub avatar"
      src="https://github.com/{{ include.username }}.png?size=360"
    >
  </a>
</div>
